<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/sec.css') }}">
</head>

<body>
    <header>
        <div class="container">
            <h1>Welcome {{name}}, to Our Website</h1>
        </div>
    </header>

    <section class="main-content">
        <div class="container">
            <p>Thank you for logging in! You are now redirected to the secure area.</p>
            <img src="#" alt="Success Image">
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2023 Our Website. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>
