{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/register.css') }}">
</head>

<body>
    <div class="login-page">
        <div class="grad">
            <form class="login-form" action="{{ url_for('register') }}" method="post">
                <p>Login</p>
                <input type="text" placeholder="Name" name="name" />
                <input placeholder="Email Address" type="email" name="email" required="required" />
                <input placeholder="Password" type="password" name="password" required="required" />
                <input placeholder="Re-type Password" type="password" name="retry-password" required="required" />
                <button type="submit">Sign Up</button>
                <a href="">Forgot Password?</a>
            </form>
            <div class="media">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </div>
        </div>
    </div>
</body>

</html>
{% endblock %}